/* 
--- 01 TYPOGRAPHY SYSTEM

- FONT sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bld: 600
Bold: 00

- Line heights:
Default: 1
Small:1.05
Medium: 1.2
Paragraph Default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Off White - Website Background - #FAF9F6
- Primary: #12b886 - Teal 6 Open Color
- Possible Other Option: #4c6ef5 - Indigo 6 - Open Color
- Tints: 
#e6fcf5 - Teal 0 Open Color
#c3fae8 - Teal 1 Open Color
#96f2d7 - Teal 2 Open Color
#38d9a9 - Teal 4 Open Color
- Shades: 
#099268 - Teal 8 Open Color
#053728 - Very Dark Teal
- Greys: 
#888
#767676 (lightest grey allowed on white)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333
#f8f9fa - Gray 0 - Open Color
#f1f3f5 - Gray 1 - Open Color
#e9ecef - Gray 2 - Open Color
#ced4da - Gray 4 - Open Color

--- 05 SHADOWS

box-shadow: var(--shadow-elevation-low)
box-shadow: var(--shadow-elevation-medium)



--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  color: #444;
  background-color: #faf9f6;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.nav-container {
  margin: 0 auto;
  height: 9.6rem;
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.8rem;
}

.header {
  min-height: 100vh;
  position: relative;

  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(../img/hero-2.jpg);
  background-size: cover;
  background-position: 65%;
  color: #fff;
}

.header-container {
  max-width: 120rem;
  position: absolute;

  /* In relation to PARENT size */
  left: 50%;
  top: 50%;

  /* In relation to ELEMENT size */
  transform: translate(-50%, -50%);
}

.header-container-inner {
  width: 50%;
}

.heading-subtext {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #fff;
}

.hero-cta-btn:link,
.hero-cta-btn:visited {
  font-size: 2rem;
  font-weight: 600;
  background-color: #12b886;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
  margin-right: 1.6rem;
}

.hero-cta-btn:hover,
.hero-cta-btn:active {
  color: #fff;
  background-color: #099268;
}

.learn-more-btn:link,
.learn-more-btn:visited {
  font-size: 2rem;
  font-weight: 600;
  background-color: #fff;
  color: #12b886;
  text-decoration: none;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.learn-more-btn:hover,
.learn-more-btn:active {
  color: #12b886;
  background-color: #e9ecef;
}

.secondary-heading {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 6.4rem;
  /* margin-bottom: 9.6rem; */
}

.tertiary-heading {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.age-heading {
  font-size: 2.4rem;
  margin-bottom: 4.8rem;
  white-space: nowrap;
}

.age-text {
  font-size: 1.8rem;
  line-height: 1.6;
}

.main-header-text,
.secondary-heading,
.tertiary-heading {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.main-header-text {
  font-size: 6.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  color: #fff;
}

.paragraph-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.program-section {
  padding: 9.6rem 3.2rem;
}

.program-information {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 4rem;
}

.main-nav-list {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.main-nav-logo-text:link,
.main-nav-logo-text:visited {
  font-size: 2.4rem;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.main-nav-logo-text:hover,
.main-nav-logo-text:active {
  color: #12b886;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #12b886;
}

/* MOBILE */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
  transition: all 0.3s;
}

.icon-mobile-nav:hover {
  color: #12b886;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

.nav-cta:link,
.nav-cta:visited {
  padding: 1rem 2rem;
  background-color: #12b886;
  border-radius: 9px;
}

.nav-cta:hover,
.nav-cta:active {
  color: #fff;
  background-color: #099268;
}

.age-information {
  border-radius: 11px;
  box-shadow: var(--shadow-elevation-medium);

  padding: 4rem;
  align-self: center;
  justify-self: center;
}

.age-icons {
  height: 8rem;
  width: 8rem;
  position: relative;
}

.age-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin: 3.2rem 0;
}

.age-icon-box {
  position: relative;
}

.age-icon-box::after {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding-bottom: 80%;
  background-color: #c3fae8;
  z-index: -1;
}

.daily-schedule-table {
  width: 100%;
  font-size: 1.8rem;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: var(--shadow-elevation-medium);
}

.table-data {
  padding: 1.6rem 2.4rem;
  text-align: left;
}

.no-wrap {
  white-space: nowrap;
}

.table-head tr {
  background-color: #12b886;
  color: #fff;
}

.table-body tr {
  border-bottom: 1px solid #dddddd;
}

.table-body tr:nth-child(even) {
  background-color: #f3f3f3;
}

.table-body tr:last-of-type {
  border-bottom: 2px solid #12b886;
}

.daily-schedule {
  padding: 9.6rem 3.2rem;
}

.about-me-photo {
  height: 20rem;
  border-radius: 50%;
  border: 4px solid #12b886;
  display: block;
  margin: 0 auto;
  margin-bottom: 3.2rem;
}

.about-me-heading {
  text-align: center;
  margin-bottom: 4.8rem;
  text-decoration: wavy underline #12b886;
}

.about-me-experience {
  text-align: center;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.licensing-number {
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 1rem;
  background-color: #12b886;
  border-radius: 100px;
  color: #fff;
}

.about-me {
  padding: 9.6rem 3.2rem;
}

.calendar {
  padding: 9.6rem 3.2rem;
}

.map-forms {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 4rem;
  padding: 9.6rem 3.2rem;
}

.form-card {
  border-radius: 9px;
  box-shadow: var(--shadow-elevation-medium);
  justify-self: center;
  text-align: center;
}

.form-cards {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.form-icon {
  font-size: 4.4rem;
  margin-top: 2rem;
  color: #444;
  background-color: #c3fae8;
  padding: 1.6rem;
  border-radius: 50%;
}

.form-name {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
}

.form-links {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.form-download-button:link,
.form-download-button:visited {
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #12b886;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.form-download-button:hover,
.form-download-button:active {
  color: #fff;
  background-color: #099268;
}

.form-view-button:link,
.form-view-button:visited {
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #e9ecef;
  color: #12b886;
  text-decoration: none;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.form-view-button:hover,
.form-view-button:active {
  color: #12b886;
  background-color: #ced4da;
}

.map-container {
  height: 80%;
}

.contact-us {
  padding: 4.8rem 3.2rem 12.8rem 3.2rem;
}

.full-contact-box {
  display: grid;
  grid-template-columns: 3fr 1fr;
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #38d9a9, #12b886);
  overflow: hidden;

  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #053728;

  gap: 4rem;
}

.form-heading,
.contact-information-heading {
  color: #053728;
  margin-bottom: 3.2rem;

  font-size: 4.4rem;
  line-height: 1.2;
  font-weight: 700;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #e6fcf5;
  border-radius: 9px;
  box-shadow: var(--shadow-elevation-low);
}

.cta-form input::placeholder {
  color: #aaa;
}

.btn-form {
  background-color: #053728;
  color: #e6fcf5;
  align-self: center;
  padding: 1.2rem;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;

  grid-column: -3 / -1;
}

.btn-form:hover {
  background-color: #e6fcf5;
  color: #053728;
}

.contact-information-heading {
  font-size: 2.4rem;
}

.contact-information-text {
  display: flex;
  flex-direction: column;
}

.contact-information-line {
  display: flex;
  gap: 2rem;
}

.contact-information-icon {
  font-size: 2.4rem;
  color: #053728;
  flex-shrink: 0;
}

.contact-information {
  padding-left: 3rem;
  border-left: 1px solid #053728;
}

.hours-operation {
  padding-left: 2rem;
}

.grid--4col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 6.4rem;
  row-gap: 6.4rem;
}

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #d6d6d6;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo-text:link,
.footer-logo-text:visited {
  color: #12b886;
  font-size: 1.8rem;
  text-decoration: none;
  transition: all 0.3s;
  margin-bottom: 4rem;
  white-space: nowrap;
}

.footer-logo-text:hover,
.footer-logo-text:active {
  color: #099268;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
  white-space: nowrap;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
  color: #767676;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.footer-hours-text,
.licensing-text {
  color: #767676;
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  line-height: 1.6;
}

.remove-margin {
  margin: 0;
}

/* STICKY NAVIGATION */

.sticky .nav-container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(5, 55, 40, 0.95);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
